<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>City of Indianapolis | Rental Relief Assistance</title>
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
</head>
<body class="home-page">
    <header>
        <img src="static/logo.png" alt="Indianapolis Logo">
        <nav>
            <a href="/">Home</a>
            <a href="/marketing">Marketing</a>
            <a href="#">About</a>
            <a href="/settings">Settings</a>
            <a href="/application-portal" class="btn btn-text">Portal</a>
        </nav>
    </header>
    
    <section class="hero">
        <h1>City of Indianapolis</h1>
        <h2>RENTAL RELIEF ASSISTANCE</h2>
        <p>To assist low income households with monthly housing payments.</p>
        <a href="/application-portal" class="btn btn-text">Learn More</a>
    </section>

</body>
</html>
