<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>City of Indianapolis | Rental Relief Assistance</title>
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/printJobs.js"></script> 
</head>
<body class="home-page">
    <header>
        <img src="static/logo.png" alt="Indianapolis Logo">
        <button class="menu-btn">&#9776;</button> <!-- Hamburger Icon -->
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/marketing">Marketing</a>
            <a href="/applicantlist">Program Participants</a>
            <a href="/settings">Settings</a>
            <a href="/marketing" class="btn btn-text">City Login</a>
        </nav>
    </header>
    
    <section class="hero">
        <h1>City of Indianapolis</h1>
        <h2>RENTAL RELIEF ASSISTANCE</h2>
        <p>To assist low income households with monthly housing payments.</p>
        <a href="https://ebc.vasion.com/EBC/formLink/Rental%20Assistance%20Form/11" class="btn btn-text">Apply Now</a>
    </section>

</body>
</html>
