<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marketing Collateral</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
</head>
<body>

    <header>
        <img src="static/logo.png" alt="Indianapolis Logo">
        <button class="menu-btn">&#9776;</button> <!-- Hamburger Icon -->
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/marketing">Marketing</a>
            <a href="/applicantlist">Program Participants</a>
            <a href="/settings">Settings</a>
            <a href="/" class="btn btn-text">Logout</a>
        </nav>
    </header>

    <div class="content-wrapper">    
        <div class="table">
            <div class="table-header">
                <h1> Campaign Collateral</h1>
                <!-- <div class="table-buttons">
                    <button id="uploadPDF" class="btn btn-text">Upload PDF or Image</button>
                    <button id="printButton" class="btn btn-text">Print</button>
                </div> -->
            </div>
            <i class="fa fa-camera-retro"></i>here
            <table class="marketing-files">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>View</th>
                        <th>Print</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr>
                        <td>{{ file }}</td>
                        <td><a href="{{ url_for('static', filename=file) }}" target="_blank">View</a></td>
                        <td>
                            Copies <input type="number" class="copiesInput" min="1" value="1">
                            <button class="printButton" data-file="{{ file }}" data-queue="Xerox_VBC_OM" data-username="clarkadams@vasion.com" data-copies="1">Print</button>
                            <span class="responseMessage"></span>
                        </td>                        
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/printJobs.js"></script> 
</body>
</html>
