<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="static/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Plus Jakarta Sans' rel='stylesheet'>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="static/printJobs.js"></script>
</head>

<body>
    <nav>
        <img src="static/logo.png" alt="Indianapolis Logo">
        <button class="menu-btn">&#9776;</button> <!-- Hamburger Icon -->
        <nav class="nav-links">
            <a href="/">Home</a>
            <a href="/marketing">Marketing</a>
            <a href="/applicantlist">Program Participants</a>
            <a href="/settings">Settings</a>
            <a href="/" class="btn btn-text">Logout</a>
        </nav>
    </nav>

    <!-- Print job records modal -->
    <div id="jobsModal" class="modal">
        <div class="modal-content">
            <span class="close-btn">&times;</span>
            <h2>Print Job Reports</h2>
            <table id="jobsTable">
                <thead>
                    <tr>
                        <th>Time</th>
                        <th>Printer</th>
                        <th>Filename</th>
                        <th>Username</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be populated here -->
                </tbody>
            </table>
        </div>
    </div>

    <div class="content-wrapper">      
        <div class="table">
            <div id="settingsSection" class="settings-section">
                    <!-- Open Reports Modal -->
                <h2>Print Job Records</h2>
                <button id="reportsButton" class="btn btn-text">Reports</button>
                
                <h2>Service Client Address</h2>
                <label for="apiEndpoint">API Endpoint:</label>
                <input type="url" id="apiEndpoint" placeholder="Enter the API Endpoint">
                
                <h2>Manual Job Send</h2>
                <form action="/send-print-job" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" required>
                    <input type="text" name="queue" placeholder="Printer Queue" required>
                    <input type="text" name="username" placeholder="Username/Email" required>
                    <input type="text" name="statusURL" placeholder="Status URL">
                    <!-- Add other inputs for other fields here -->
                    <input type="number" name="copies" placeholder="Number of Copies" min="1" required>
                    <input type="checkbox" name="duplex" value="true"> Duplex
                    <input type="checkbox" name="color" value="true" checked> Color
                    <!-- ... -->
                    <button type="printButton">Send Print Job</button>
                </form>  
            
                <form action="/upload-default-job" method="post" enctype="multipart/form-data">
                    <label for="defaultFile">Default Check Print Job: 
                        {% if default_uploaded_file %}
                            <span>{{ default_uploaded_file }}</span>
                        {% else %}
                            <span>No file uploaded</span>
                        {% endif %}
                    </label>
                    <input type="file" name="file" id="defaultFile" required>
                    <button type="submit" class="btn btn-text">Upload and Save</button>
                </form> 
                
            </div>
            <div class="table-header">
                <h1> Printers</h1>
                
                <div class="table-buttons">
                    <button id="addRow" class="btn btn-text">Add Row</button>
                    <button id="deleteRows" class="btn btn-text">Delete Row(s)</button>
                </div>
            </div>
        
            <table id="printersTable" class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAll"></th>
                        <th>Printer Name</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Rows will be populated here -->
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function debounce(func, wait) {
            let timeout;
            return function(...args) {
                const context = this;
                clearTimeout(timeout);
                timeout = setTimeout(() => func.apply(context, args), wait);
            };
        }

        const debouncedSave = debounce(savePrinterTableData, 500);
        
        $(document).ready(function() {

            // Fetch and display data
            $.get('/get-settings', function(data) {
                data.printers.forEach(function(printer) {
                    addRow(printer);
                });
                // Populate the API endpoint field if it exists in the response
                if (data.apiEndpoint) {
                    $('#apiEndpoint').val(data.apiEndpoint);
                }
            });

            function addRow(printerName) {
            let newRow = `
                <tr>
                    <td><input type="checkbox"></td>
                    <td><input type="text" name="printer_name" value="${printerName}" placeholder="Enter Printer Name"></td>
                </tr>`;
            printersTable.append(newRow);
            }
            let reportsButton = $("#reportsButton");
            let jobsModal = $("#jobsModal");
            let closeJobsModal = jobsModal.find(".close-btn");
            let printersTable = $("#printersTable tbody");
            let addRowButton = $("#addRow");
            let deleteRowsButton = $("#deleteRows");
            let selectAllCheckbox = $("#selectAll");


            // Detect when user is typing into any input field
            printersTable.on('input', 'input[name="printer_name"], #apiEndpoint', function() {
                debouncedSave();
            });

            reportsButton.click(function() {
                jobsModal.css("display", "block");
            });

            closeJobsModal.click(function() {
                jobsModal.css("display", "none");
            });

            // Close the modal when clicking outside of it
            $(window).click(function(event) {
                if ($(event.target).is(jobsModal)) {
                    jobsModal.css("display", "none");
                }
            });

            // Add Row functionality
            addRowButton.click(function() {
                let newRow = `
                    <tr>
                        <td><input type="checkbox"></td>
                        <td><input type="text" name="printer_name" placeholder="Enter Printer Name"></td>
                    </tr>`;
                printersTable.append(newRow);
            });

            // Delete Rows functionality
            deleteRowsButton.click(function() {
                // Here, we assume each row has a checkbox and we're checking if it's checked
                // Let's add a checkbox to the row to support this functionality
                printersTable.find("tr").each(function() {
                    let row = $(this);
                    if (row.find("input[type='checkbox']").is(":checked")) {
                        row.remove();
                    }
                });
            });

            selectAllCheckbox.click(function() {
                let isChecked = $(this).is(":checked");
                printersTable.find("input[type='checkbox']").prop("checked", isChecked);
            });
        });

        function savePrinterTableData() {
        // Gather all printer names into an array
        let printerNames = [];
        
        // Iterate through each printer name input field and get its value
        $('#printersTable tbody input[name="printer_name"]').each(function() {
            let printerName = $(this).val();
            if (printerName) { // Ensure the printer name is not an empty string
                printerNames.push(printerName);
            }
        });

        // Get the API endpoint from the input
        let apiEndpoint = $("#apiEndpoint").val();

        // Create a data object to match expected structure on the server
        let dataToSend = {
            printers: printerNames,
            apiEndpoint: apiEndpoint
        };

        // Use jQuery's ajax method to send data
        $.ajax({
            url: '/save-settings',
            type: 'POST',
            data: JSON.stringify(dataToSend),
            contentType: 'application/json',
            dataType: 'json',
            success: function(response) {
                if (response.status === "success") {
                    console.log("Data saved successfully!");
                } else {
                    console.log("Failed to save data!");
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.error("Error:", errorThrown);
            }
        });
        }

        $('#defaultFile').change(function() {
        if (this.value) {
            $(this).closest('form').submit();
        }
    });
    </script>
</body>
</html>
